{% extends "base.html" %}
{% block title %}Forgot{% endblock %}

{% block main-content %}
{% load static %}

<link href="{% static 'css/passcheck.css' %}" rel="stylesheet">

<div class="formcon">
    <h3 class="text-center p-3 signincolor">Forgot credentials?</h3>

    <form method="POST" class="mb-4 pb-3 signin-form" action="/vendor/forgot/">
        {% csrf_token %}
        <div class="col-10 mx-auto">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" autofocus="" id="email" maxlength="254" 
                    name="email" type="email" required />
            </div>
            {% if error %}
            <div class="form-group col errormsg" style="display: block;" id="emailerror">  
                <span ><i class="fa fa-exclamation-triangle"></i> {{error}}</span>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary btn-md" type="submit">Reset Password</button>
            </div>
        </div>

        <div class="text-center">
            <p><a href="/vendor/signup/">Create an account</a></p>
            For assistance, please send an email to <a href="mailto:#">support@hopon.co.in</a>.
        </div>

    </form>
    
{% endblock %}